*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(./images2/bg-hero.jpg);
  font-family: "Heebo",sans-serif;
  text-align: center;
  overflow-x: hidden;
}

.counter{
  color: var(--primary);
  padding: 4px;
  margin-right: 5px;
  font-size: 70px;
}